/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}

body, html{
    overflow: hidden;
    position: relative;
    height: 100%;
}

.icon {
    height: 10vh;
}

.me {
    height: 10vh;
    width: 48vw;
    margin: auto;
}

.icon_area {
    height: 100%;
    width: 10vh;
}

.status {
    height: 100%;
    width: 80%;
}

.name_area {
    height: 60%;
    width: 100%;
}

.status_area {
    height: 30%;
    width: 100%;
}

.userid {
    font-size: 4vh;
    display: inline-block;
    margin: 0 10px;
}

.is_join {
    display: inline-block;
    font-size: 2vh;
    margin: 0 10px;
}

.is_survival {
    display: inline-block;
    font-size: 2vh;
    margin: 0 10px;
}

.flex{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#others_area {
    height: 50vh;
    width: 50vw;
    overflow: scroll;
    margin: 0;
    margin: auto;
}

.others {
    height: 10vh;
    width: 48vw;
    margin: 15px auto auto auto;
}

.red {
    background-color: #E9546B;
}

.green {
    background-color: #AACF52;
}

.purple {
    background-color: #9B4DCA;
}

.gray {
    background-color:gray;
}

.light_gray {
    background-color: #DCDCDC;
}

.orange {
    background-color:orange;
}

#chat_area {
    height: 60vh;
    width: 50vw;
    background-color:black;
}

.chat_button_area {
    height: 35vh;
    width: 99vw;
    margin-top: 10px;
}

.chat_flex_area {
    height: 50%;
    width: 100%;
}

.chat_button {
    width: 49vw;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 5vh;
    border-radius: 10px;
    margin: auto;
}
