/* iOSでのデフォルトスタイルをリセット */
input[type="submit"],
input[type="button"] {
    border-radius: 0;
    -webkit-box-sizing: content-box;
    -webkit-appearance: button;
    appearance: button;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
input[type="submit"]::-webkit-search-decoration,
input[type="button"]::-webkit-search-decoration {
    display: none;
}
input[type="submit"]::focus,
input[type="button"]::focus {
    outline-offset: -2px;
}

#user_id {
    font-size: 4vh;
    height: 10vh;
    width: 30vw;
    display: flex;
}

#password {
    font-size: 4vh;
    height: 10vh;
    width: 30vw;
    display: flex;
}

#send {
    height: 10vh;
    width: 30vw;
    display: inline-block;
    color: #FFF;
    font-size: 5vh;
    border-radius: 10px;
}

.red {
    background-color: #E9546B;
}

.blue {
    background-color: #87CEFA;
}

.green {
    background-color: #AACF52;
}

.purple {
    background-color: #9B4DCA;
}

.gray {
    background-color:gray;
}

.light_gray {
    background-color: #DCDCDC;
}

.orange {
    background-color:orange;
}
