{{define "index"}}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>メイン</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
  <div id="main">
    <div id="main">
        <div style="visibility:hidden;" id="userid">{{.User}}</div>
        <div style="visibility:hidden;" id="auth_code">{{.Code}}</div>
    </div>
  <div>
</body>
</html>
{{end}}
