<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>アカウント作成</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css" />

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/sha256.js"></script>
    <script src="/js/create.js"></script>
  </head>
  <body>
    <div id="main">
      <input
        type="text"
        id="user_id"
        maxlength="20"
        placeholder="id"
        style="display:flex;"
        v-model="id"
      />
      <input
        type="password"
        id="password"
        maxlength="20"
        placeholder="password"
        style="display:flex;"
        v-model="password"
      />
      <input
        type="button"
        id="send"
        class="green"
        value="アカウント作成"
        style="display:flex;"
        v-on:click="post"
      />
      <div>
        ログインは<span><a href="/">こちら</a></span>
      </div>
    </div>
  </body>
</html>
