<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>メイン</title>
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
  <div id="main">
    <div id="main">
        <section id="me" class="flex">
            <div id="icon_area">
                <img src="/img/default.png" alt="icon" class="icon">
            </div>
            <div id="my_status">
                <div id="name_area">
                    <div id="my_id">{{userid}}</div>
                </div>
                <div id="status_area">
                    <div id="is_join">
                        <div v-if="is_join.is_join">参加中</div>
                        <div v-else>休憩中</div>
                    </div>
                    <div id="is_survival">
                        <div v-if="is_survival.is_survival">生存中</div>
                        <div v-else>死亡中</div>
                    </div>
                </div>
            </div>
        </section>

        <section id="others">
        </section>

        <section id="chat_area">
        </section>

        <br>
        <br>
        <br>
        <br>

        参加者リスト:
        <div v-for="join in joins_userid">
            {{join}}
            <span v-if="survivals_userid.indexOf(join) >= 0">生存</span>
            <span v-else>死亡</span>
        </div>
        <br>
        <input type="button" value="dead" v-on:click="dead">
        <input type="button" value="resorn" v-on:click="resporn">
        <input type="button" value="join" v-on:click="join">
        <input type="button" value="breaktime" v-on:click="breaktime">
    </div>
  <div>
</body>
</html>
