<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
    <link rel="stylesheet" type="text/css" href="/css/login.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/login.js"></script>
</head>
<body>
  <div id="main">
    <input type="text" id="user_id" maxlength="20" placeholder="id" style="display:flex;" v-model="id">
    <input type="text" id="password" maxlength="20" placeholder="password" style="display:flex;" v-model="password">
    <input type="button" id="send" value="アカウント作成" style="display:flex; float:right;" onClick="location.href='/create'">

    <input type="button" id="send" value="ログイン" style="display:flex;" v-on:click="post">
  <div>
</body>
</html>
